<div class= 'nav-template'>
	<nav-template></nav-template>
</div>
<div class='checkout-container'>
	<div class='contained'>
	<div  ng-repeat='prod in prodInfo track by $index'>
		<div class='divider'></div>
		<div id = 'checkout-row'class = 'row'>
			<img class='checkout-prod-img1'src='{{prod.img1}}'></img>
			<p class='cop'>name: {{prod.name}}</p>
			<p class='col'> qty {{prod.qty}}</p>
			<div id='plus-minus'class='col s1' >
				<button ng-click='plus($index)'>+</button>
				<button ng-click='minus($index)'>-</button>	
			</div>
			<p class=''>price: {{prod.price | currency}}</p>
	</div>
</div>
	<div class='divider'></div>
	<div class = 'checkout-all-prods'>
		<div class = 'subtotal'>
			<a class='dropdown-button btn' data-activates='shippingDropdown' dropdown data-hover="true">
				shipping options
			</a>
			subtotal: {{subTotal|currency}}
		</div>
		<div class ='total'>
    		<a id='checkout-bttn'class='btn' href='#checkoutModal' modal>checkout</a>
			total: {{total |currency}}
		</div>

		<ul id='shippingDropdown' class='dropdown-content'>
    		<li><a ng-click='shipping(1)'>fedex standard free</a></li>
    		<li><a ng-click="shipping(2)">fedex express $10</a></li>
    		<li><a ng-click="shipping(3)">USPS free</a></li>
    		<li><a ng-click="shipping(4)">UPS standard free</a></li>
    		<li><a ng-click="shipping(5)">UPS express $10</a></li>
		</ul>
		<!--<div class = 'tax'>
			tax:{{tax|currency}}
		</div>-->
</div>

		<!-- Modal Trigger -->

<!-- Modal Structure -->
<div id="checkoutModal" class="modal">
    <div class="modal-content">
		<div class='row'>
        <input  ng-model='checkOutInfo.name'class='col s3'type="text" placeholder="name">
		<input ng-model='checkOutInfo.email'class='col s6' type="email" placeholder='email'>
		<input ng-model='checkOutInfo.address'class='col s7' type="text" placeholder='address'>
		<input ng-model='checkOutInfo.city'class='col s2' type="text" placeholder='city'>
		<input ng-model='checkOutInfo.state'class='col s2' type="text" placeholder='state'>
		<input ng-model='checkOutInfo.zip'class='col s1' type="text" placeholder = 'zip'>
		<input class='col s6' type="text" placeholder='credit card'>
		<input class='col s2' type="text" placeholder="cardtype">
		<input class='col s2' type="text" placeholder="ccv">
		<input class='col s2' type="text" placeholder='exp'>
    </div>
	</div>

    <div class="modal-footer">
		
        <button ng-click="payNow(prodInfo)">pay now</button>
    </div>
</div>
	</div>
	</div>
</div>
<footer-temp></footer-temp>


