<div class='checkout containter'>
	<div class='whole-product' ng-repeat='prod in prodInfo track by $index'>
		<div class = 'prod'>
			<img class='prod-img1'src='{{prod.img1}}'></img>
		</div>
		<div class='prod'>
			<ul>
				<li class='inline'>name: {{prod.name}}</li>
				<li class='inline'>price: {{prod.price}}</li>
				<li class='inline'>qty: {{prod.qty}}</li>
			</ul>
			
		</div>	
	</div>
	<div class = 'all-prods'>
		<div class = 'subtotal'>
			subtotal: ${{subTotal}}
		</div>
		<form>
			ups overnight:$10<input name='shipping'type="radio" ng-click="shipping(1)">
			ups standard:free<input name='shipping'type="radio" ng-click="shipping(2)">
			USPS:free<input  name='shipping' type="radio" ng-click="shipping(3)" checked>
			fedex standard:free<input  name='shipping'type="radio" ng-click="shipping(4)">
			fedex overnight:$10<input name='shipping' type="radio"ng-click="shipping(5)">
		</form>
		<div class = 'tax'>
			tax:
		</div>
		<div class ='total'>
			total: ${{total}}
		</div>
		<button ng-click="payNow(prodInfo)">purchase</button>
	</div>
</div>



