<table class = 'bordered'>
		<thead>
			<tr>
				<th data-field='name'>name</th>
				<th data-field='types'>type</th>
				<th data-field='shortDesc'>short description</th>
				<th data-field='longDesc'>long description</th>
				<th data-field='qty'>qty</th>
				<th data-field='price'>price</th>
				<th data-field='img1'>img1</th>
				<th data-field='img2'>img2</th>
				<th data-field='img3'>img3</th>
				<th data-field='img4'>img4</th>
				<th data-field='img5'>img5</th>
				<th data-field='img6'>img6</th>
				<th data-field='img7'>img7</th>
			</tr>
			
		</thead>
		<tbody>
			<tr>
				<td>{{product.name}}
					<div ng-show='mustShow'placeholder='edit'>
						<input type="text" ng-model='name'>
						<button ng-click="productEdit(product._id,{name:name})">submit</button>
					</div>
				</td>
				<td>{{product.types}}
					<div ng-show='mustShow'placeholder='edit'>
						<input type="text" ng-model='types'>
						<button ng-click="productEdit(product._id,{types:types})">submit</button>
					</div>
				</td>
				<td>{{product.shortDesc}}
					<div ng-show='mustShow'placeholder='edit'>
						<input type="text" ng-model='shortDesc'>
						<button ng-click="productEdit(product._id,{shortDesc:shortDesc})">submit</button>
					</div>
				</td>
				<td>{{product.longDesc}}
					<div ng-show='mustShow'placeholder='edit'>
						<input type="text" ng-model='longDesc'>
						<button ng-click="productEdit(product._id,{longDesc:longDesc})">submit</button>
					</div>
				</td>
				<td>{{product.qty}}
					<div ng-show='mustShow'placeholder='edit'>
						<input type="text" ng-model='qty'>
						<button ng-click="productEdit(product._id,{qty:qty})">submit</button>
					</div>
				</td>
				<td>{{product.price}}
					<div ng-show='mustShow'placeholder='edit'>
						<input type="text" ng-model='price'>
						<button ng-click="productEdit(product._id,{price:price})">submit</button>
					</div>
				</td>
				
				
			</tr>
			<tr>
				<td>{{product.img1}}
					<div ng-show='mustShow'placeholder='edit'>
						<input type="text" ng-model='img1'>
						<button ng-click="productEdit(product._id,{img:img1})">submit</button>
					</div>
				</td>
				<td>{{product.img2}}
					<div ng-show='mustShow'placeholder='edit'>
						<input type="text" ng-model='img2'>
						<button ng-click="productEdit(product._id,{img2:img2})">submit</button>
					</div>
				</td>
				<td>{{product.img3}}
					<div ng-show='mustShow'placeholder='edit'>
						<input type="text" ng-model='img3'>
						<button ng-click="productEdit(product._id,{img3:img3})">submit</button>
					</div>
				</td>
				<td>{{product.img4}}
					<div ng-show='mustShow'placeholder='edit'>
						<input type="text" ng-model='img4'>
						<button ng-click="productEdit(product._id,{img4:img4})">submit</button>
					</div>
				</td>
				<td>{{product.img5}}
					<div ng-show='mustShow'placeholder='edit'>
						<input type="text" ng-model='img5'>
						<button ng-click="productEdit(product._id,{img5:img5})">submit</button>
					</div>
				</td>
				<td>{{product.img6}}
					<div ng-show='mustShow'placeholder='edit'>
						<input type="text" ng-model='img6'>
						<button ng-click="productEdit(product._id,{img6:img6})">submit</button>
					</div>
				</td>
				<td>{{product.img7}}
					<div ng-show='mustShow'placeholder='edit'>
						<input type="text" ng-model='img7'>
						<button ng-click="productEdit(product._id,{img7:img7})">submit</button>
					</div>
				</td>
			</tr>
			
		</tbody>
	</table>
	<button ng-click="mustShow=!mustShow">edit</button>
	<button ng-click="deleteProduct(product._id)">delete</button>