<admin-nav></admin-nav>
<div class='row' >
<div ng-repeat='order in orders' class="card med col s4">
	<div class='admin-order-divider'></div>	
	<button ng-click='fulfillOrder(order)'>check fulfilled</button>
	<div>
		<p id='product-repeat-font2'class="card-title activator grey-text text-darken-4">{{order.customer.name}}</p>
		<p id='product-repeat-font2'class="card-title activator grey-text text-darken-4">{{order.customer.email}}</p>
		<p id='product-repeat-font2'class="card-title activator grey-text text-darken-4">{{item.customer._id}}</p>
	</div>
	<div ng-repeat='item in order.products'>
		<div >
			<div class="card-content row">
				<p id='product-repeat-font'class="card-title activator grey-text text-darken-4 col s2">{{item.name}}</p>
        		<p id='product-repeat-font2'class="card-title activator grey-text text-darken-4 col s2">{{item.qty}}</p>
				<p class = 'col s2'><a ng-click='getDBProduct(product)'>{{product.price|currency}}</a></p>
				<p id='product-repeat-font2'class="card-title activator grey-text text-darken-4" col s2>{{item._id}}</p>
			</div>
			
		</div>
	</div>
</div>
</div>
	