
<div class= 'nav-template'>
	<nav-template></nav-template>
</div>
<div class= 'admin-page-container'>

	<div ng-controller='adminController'>
		<button ng-click='newProd=!newProd'>hide adding products</button>
		<div ng-hide='newProd'>
		<div class ='row'>
			<input class='col s2'type="text"placeholder="name" ng-model='product.name'/>
			<input class='col s2' type="text"placeholder="types" ng-model='product.types'/>
			<input class='col s2' type="text"	placeholder="short description" ng-model='product.shortDesc'/>
			<input class='col s1' type="text" placeholder="custom" ng-model='product.custom'>
			<input class='col s3' type="text" placeholder='long description' ng-model='product.longDesc'/>
			<input class='col s1' type="text" placeholder='qty' ng-model='product.qty'>
			<input class='col s1' type="text" placeholder='price' ng-model='product.price'>
			<input class='col s' type="text" placeholder = 'img' ng-model='product.img1'/>
			<input class='col s' type="text" placeholder = 'img' ng-model='product.img2'/>
			<input class='col s' type="text" placeholder = 'img' ng-model='product.img3'/>
			<input class='col s' type="text" placeholder = 'img' ng-model='product.img4'/>
			<input class='col s' type="text" placeholder = 'img' ng-model='product.img5'/>
			<input class='col s' type="text" placeholder = 'img' ng-model='product.img6'/>
			<input class='col s' type="text" placeholder = 'img' ng-model='product.img7'/>
		</div>
	
		<button ng-click='submitNewProduct(product)'>submit</button>
		</div>
		<div>
			<button ng-click='adminGetProducts()'>get products</button>
			<button ng-click='hideProd=!hideProd'>hide products</button>
			<admin-product-dir ng-hide='hideProd' ng-repeat='product in products'></admin-product-dir>
		</div>
		<div>
			<button ng-click='getOrders()'>get orders</button>
			<button ng-click='hideOrders=!hideOrders'>hide/show orders</button>
			<div ng-hide='hideOrders'>
				<admin-order-dir></admin-order-dir>
			</div>
		</div>
		<div>
			<button ng-click='getFulfillOrder()'>Fulfilled Order</button>
			<button ng-click='hidefullOrders=!hidefullOrders'>hide/show fulfilled</button>
			<admin-fulfill-dir></admin-fulfill-dir>
			<div ng-hide='hidefullOrders'>
				<get-fulfill-order></get-fulfill-order>
			</div>
		</div>	
	</div>
</div>

