/*navbar*/

.top-nav{
	margin-top:-30px;
	font-size: 12px;
	border-bottom:3px solid black;
	background-color: #404040;
	padding-bottom:-40px;
}
.top-nav-items{
	color:#FEC5D9;
}
.navbar-logo{
	width:200px;
	padding-left:10%;
}
.threes-navbar1{
	padding-left:17%;
	display:flex;
	flex-direction: column;
	margin-right:61%;
	border-right:3px solid black;
	margin-left:1%;
}
.bottom-nav-items-left{
	color:#404040;
	border-bottom:2px solid black;
	padding-left:60%;	
}
.bottom-nav-items-right{
	color:#404040;
	border-bottom:2px solid black;	
}
.threes-navbar3{
	display:flex;
	flex-direction: column;
	margin-right:7%;
	margin-left:45%;
	border-left: 3px solid black;
}
.navbar{
	padding-left:0%;
}
#last-item-nav-list-left{
	border-bottom: 0px;
}
#last-item-nav-list-right{
	border-bottom: 0px;
}
#second-nav-all-pages{
	padding-top:-10px;
}
/*homepage*/
.home-container{
	padding-left:5%;
	width:90%;
	margin-top:76px;
}
.home-img{
	width:100%;
	padding-top:-5%;

}
.front-page-cards{
	height:250px;
}
.card-title-p{
	color:#FEC5D9;
	background-color:#404040;
	margin:-5px 0 -5px 0;
	
}
.cart-title{
	
}
/*products list*/

.category{
	padding-top:15%;
}
.category-items{
	height:150px;
}
.category-items-names{
	color:#404040;
}
.category-label{
	color:#FFC6D9;
	background-color:#404040;
}

/*product page*/
.product-page-img{
	width:40px;
	height:40px;
}
#featured-prod-page-pic{
	width:100%;
}
.prod-list-pics{
	display:flex;
	flex-direction: row;
}
/*tutorials*/
.iframe{

	width:100%;
	height:auto
}
/*checkout*/
.contained{
	padding-top:150px;
	padding-left:10%;
}

.checkout-prod-img1{
	width:20%;
}
#checkout-row{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around
}
.checkout-all-prods{
	display:flex;
	flex-direction: column;
}
.subtotal{
	align-self:flex-end;
	padding-right:10%;
	padding-bottom:2%;
}
.btn{
	margin-left:30px;
	padding:0 30px 0 30px;
	margin-right:50px;
}
#checkout-bttn{
	margin-right:73px;
	padding:0 60px 0 60px;
}
.total{
	align-self:flex-end;
	padding-right:10%;
	padding-bottom:2%;
}
.divider{
	margin-bottom:2%;
	margin-right:9%;
}
/*footer*/
#page-footer{
	color:#FFC6D9;
	background-color:#404040;
}