<div ng-controller='userCtrl'>
    
    
    <nav >
        <div class="z-depth-1">
        <div>
            
            <ul class="nav-wrapper" id='nav-wrapper-prod'>
                
                <div class ='threes-navbar1'>
                
                <li class='navbar' ><a href='#/productsList'><p class='white1'>products</p></a></li>
                <li class='navbar'><a href='#/about'><p class='white1'>about</p></a></li>
                <li class= 'navbar'><a href='#/contact'><p class='white1'>contact</p></a></li>
                
                    </div>
                    <div class ='threes-navbar2'>
                        <a href="#!" ><img class="ribbon-logo" src="img/ribbonlogo.png" alt=""></a>
                    </div>
                    <div class ='threes-navbar3'>
                    <div >
                        <a href='#loginModal' modal><p class = 'white1'ng-hide='loginOut'>login/reg</p></a>
                    </div>
<!-- Modal Structure -->
                        <div id="loginModal" class="modal">
                            <div class="modal-content">
                                <div ng-show = '!customerName' class='inline'>

                                                    
                                                    <!--<button ng-click='showLog=!showLog'>hide</button>-->
                                                    <div ng-hide = 'reglog'>
                                                        <div class='reg-log-button'>
                                                           <p class='white1'> register<p>
                                                            <button ng-click='reglog=!reglog'><p class='white'>login</p></button>
                                                        </div>
                                                        <div class='row'>
                                                            <input class='register col s12'type="text" ng-model='user.email' placeholder='email'>
                                                            <input class='register col s12 m6'type="text" ng-model='user.name' placeholder='name'>
                                                            <input class='register col s12 m6'type="password" ng-model='user.password' placeholder='password'>
                                                            <input class='register col s12 'type="text" ng-model='user.address' placeholder='address'>
                                                            <input class='register col s12 m6'type="text" ng-model='user.city' placeholder='city'>
                                                            <input class='register col s12 m2'type="text" ng-model='user.state' placeholder='state'>
                                                            <input class='register col s12 m4'type="text" ng-model='user.zip' placeholder='zip'>
                                                        </div>
                                                        <button onclick="Materialize.toast('Thanks for Signing In!', 4000)" ng-click='submitNewUser(user)'>submit</button>
                                                    </div> 
                                                    <div ng-show='reglog'>
                                                        <div class='reg-log-button'>
                                                            login
                                                            <button ng-click='reglog=!reglog'>register</button>
                                                        </div>
                                                        <input type="text" ng-model='user.email' placeholder="email"> 
                                                        <input type="password" ng-model='user.password' placeholder="password"> 
                                                        <button onclick="Materialize.toast()" ng-click='loginSubmit(user)'>submit</button>
                                                    </div> 
                                            </div>
                            </div>
                            
                        </div>
                    
                    
                    
                    <div ng-show='loginOut'>
                        <a href='/logout' onclick = 'Materialize.toast("Logged Out")'>logout</a>
                    </div>
                     
                        <div ng-controller='ShoppingCartCtrl'>
                            <a href='#/checkout'><p class='white1'>cart {{cartCount}}</p></a>
                        </div>
                        </div> 
                  
          </ul>

       </div>
       

       </div>
    
</nav>
</div>