<div class= 'nav-template'>
	<nav-template></nav-template>
</div>
<div >
	<ul>
		
	</ul>
	
	
	<div class="product-wrap">
	<!--<span class='product-in-products'ng-repeat='product in products'>-->
	<div class='product-in-products' ng-repeat='product in products | filter: key'>
		
		<a ng-click='getDBProduct(product)'>
			<div class='product-in-products-info'>
				<h4 id='prods1'>{{product.name}}</h4>
				<img class='prods-img' src="{{product.img2}}" alt="">
				<h6 id='prods2'>{{product.price|currency}}</h6>
				
			</div>
		</a>
		
		<div class='underlined'></div>
	</div>
	
	</div>
</div>

<footer-temp></footer-temp>